<div class="flex gap-6">
  <div class="flex gap-8 p-6 border rounded-lg">
    <div>
      <img
        class="h-24"
        src="https://fakestoreapi.com/img/71HblAHs5xL._AC_UY879_-2.jpg"
        alt=""
      />
    </div>
    <div>
      <h2 class="text-lg font-bold">
        Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport
      </h2>
      <small class="font-semibold">
        Id Producto: <span class="font-normal">4XrcbbHCmwz2hI56nXy9</span>
      </small>
      <h4 class="font-semibold">Cantidad:<span class="font-normal">5</span></h4>
    </div>
    <div class="flex flex-col justify-between gap-6">
      <div class="flex flex-col text-right">
        <h4 class="text-xl font-bold text-green-500">S/150</h4>
        <small class="font-bold line-through text-red-500/80">S/250</small>
      </div>
      <div>
        <h4 class="font-bold">SubTotal: S/750</h4>
      </div>
    </div>
  </div>
</div>
