<header class="z-40 items-center w-full h-16 bg-white shadow-lg rounded-2xl">
  <div
    class="relative z-20 flex flex-col justify-center h-full px-3 mx-auto flex-center"
  >
    <div
      class="relative flex items-center w-full pl-1 lg:max-w-68 sm:pr-2 sm:ml-0"
    >
      <div class="container relative left-0 z-50 flex w-3/4 h-full"></div>
      <div
        class="relative flex items-center justify-end w-1/4 gap-4 p-1 ml-5 mr-4 sm:mr-0 sm:right-auto"
      >
        <h3>{{ user.email }}</h3>
        <button
          (click)="onLogout()"
          class="px-4 py-2 text-white bg-blue-500 rounded-lg whitespace-nowrap hover:bg-blue-700"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>
  </div>
</header>
