<header class="z-40 items-center w-full h-16 bg-white shadow-lg rounded-2xl">
  <div
    class="relative z-20 flex flex-col justify-center h-full px-3 mx-auto flex-center"
  >
    <div
      class="relative flex items-center w-full pl-1 lg:max-w-68 sm:pr-2 sm:ml-0"
    >
      <div
        class="container relative left-0 z-50 flex items-center w-3/4 h-full"
      >
        <svg
          (click)="onShowSidebar()"
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-menu-2"
          width="22"
          height="22"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#000000"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <line x1="4" y1="6" x2="20" y2="6" />
          <line x1="4" y1="12" x2="20" y2="12" />
          <line x1="4" y1="18" x2="20" y2="18" />
        </svg>
      </div>
      <div
        class="relative flex items-center justify-end w-1/4 gap-4 p-1 ml-5 mr-4 sm:mr-0 sm:right-auto"
      >
        <h3>{{ user.email }}</h3>
        <button
          (click)="onLogout()"
          class="px-4 py-2 text-white bg-blue-500 rounded-lg whitespace-nowrap hover:bg-blue-700"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>
  </div>
</header>
