<div class="px-8 mx-auto max-w-7xl">
  <div class="py-6">
    <div class="flex flex-col justify-between gap-4 mb-6 sm:flex-row">
      <div>
        <h1 class="text-4xl font-bold">{{ product.title }}</h1>
        <small>Código del Producto:{{ product.id }}</small>
      </div>
      <div class="flex items-center justify-end">
        <button
          routerLink="/products"
          class="flex items-center justify-center gap-2 px-4 py-2 mt-2 font-medium text-white bg-purple-500 rounded-lg hover:bg-purple-700 whitespace-nowrap"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-chevrons-left"
            width="20"
            height="20"
            viewBox="0 0 22 22"
            stroke-width="1.5"
            stroke="#ffffff"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <polyline points="11 7 6 12 11 17" />
            <polyline points="17 7 12 12 17 17" />
          </svg>
          Seguir comprando
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-4 sm:flex-row">
      <div class="flex justify-center flex-1">
        <img class="p-6 h-96" [src]="product.image" alt="" />
      </div>
      <div class="flex-1 sm:px-12">
        <div class="flex flex-col gap-4">
          <h2 class="text-2xl font-bold">Sobre el producto:</h2>
          <p class="">
            {{ product.description }}
          </p>
          <div class="flex items-center justify-between">
            <h3
              class="font-bold"
              [ngClass]="
                product.offer == 0
                  ? 'text-3xl font-bold text-green-500'
                  : 'line-through text-red-500/80 text-lg'
              "
            >
              {{ product.price | currency }}
            </h3>
            <span
              class="text-3xl font-bold text-green-500"
              *ngIf="product.offer > 0"
              >{{ product.offer | currency }}</span
            >
          </div>
          <div>
            <button
              (click)="onOpenOverlay(product)"
              class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            >
              Añadir al carrito
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
