<nav class="relative z-50 py-3 bg-white shadow">
  <div class="px-8 mx-auto max-w-7xl">
    <div class="flex items-center h-16">
      <div (click)="onHideSettings()" class="flex-1">
        <div class="flex items-center">
          <a class="flex-shrink-0" routerLink="/">
            <img class="w-24 h-w-24" src="assets/img/logo.png" alt="Workflow" />
          </a>
          <div class="hidden md:block">
            <div class="flex items-baseline ml-10 space-x-4">
              <a
                class="px-3 py-2 text-sm font-medium text-gray-300 rounded-md hover:text-gray-800"
                routerLink="/"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="text-gray-800"
              >
                Inicio
              </a>
              <a
                class="px-3 py-2 text-sm font-medium text-gray-300 rounded-md hover:text-gray-800"
                routerLink="products"
                routerLinkActive="text-gray-800"
              >
                Productos
              </a>
            </div>
          </div>
        </div>
        <div class="flex-1 w-full h-full bg-transparent"></div>
      </div>

      <div class="block">
        <div class="flex items-center ml-4 md:ml-6">
          <div class="relative ml-3">
            <div class="relative inline-block text-left">
              <div *ngIf="infoUser" class="flex items-center">
                <span>{{ infoUser.displayName }}</span>
                <button
                  type="button"
                  (click)="onShowSettings()"
                  class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-gray-700 rounded-md hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500"
                  id="options-menu"
                >
                  <div class="relative">
                    <img
                      alt="profil"
                      [src]="infoUser.photoURL || 'assets/img/default-user.png'"
                      class="object-cover w-8 h-8 mx-auto rounded-full"
                    />
                    <span
                      class="absolute w-3 h-3 transform -translate-x-1/2 bg-green-500 border-2 border-white rounded-full left-1/2 -bottom-2"
                    >
                    </span>
                  </div>
                </button>
              </div>
              <ng-container *ngIf="showSettings">
                <div
                  class="absolute right-0 w-56 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5"
                >
                  <div
                    class="py-1"
                    role="menu"
                    aria-orientation="vertical"
                    aria-labelledby="options-menu"
                  >
                    <a
                      routerLink="cart"
                      class="block px-4 py-2 text-gray-700 text-md hover:bg-gray-100 hover:text-gray-900"
                      role="menuitem"
                    >
                      <span class="flex items-center gap-2">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="22"
                          height="22"
                          fill="none"
                          stroke="#000"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                          class="icon icon-tabler icon-tabler-shopping-cart"
                          viewBox="0 0 24 24"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" />
                          <circle cx="6" cy="19" r="2" />
                          <circle cx="17" cy="19" r="2" />
                          <path d="M17 17H6V3H4" />
                          <path d="m6 5 14 1-1 7H6" />
                        </svg>
                        <span>Carrito de Compras</span>
                      </span>
                    </a>
                    <a
                      routerLink="/orders"
                      class="block px-4 py-2 text-gray-700 text-md hover:bg-gray-100 hover:text-gray-900"
                      role="menuitem"
                    >
                      <span class="flex items-center gap-2">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-truck-delivery"
                          width="22"
                          height="22"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="#000000"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <circle cx="7" cy="17" r="2" />
                          <circle cx="17" cy="17" r="2" />
                          <path
                            d="M5 17h-2v-4m-1 -8h11v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5"
                          />
                          <line x1="3" y1="9" x2="7" y2="9" />
                        </svg>
                        <span>Ver compras</span>
                      </span>
                    </a>
                    <a
                      href="#"
                      class="block px-4 py-2 text-gray-700 text-md hover:bg-gray-100 hover:text-gray-900"
                      role="menuitem"
                    >
                      <span
                        class="flex items-center gap-2"
                        (click)="onLogout()"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-logout"
                          width="22"
                          height="22"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="#000000"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
                          />
                          <path d="M7 12h14l-3 -3m0 6l3 -3" />
                        </svg>
                        <span>Cerrar Sesión</span>
                      </span>
                    </a>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="flex -mr-2 md:hidden" (click)="onMenuMobile()">
        <button
          class="inline-flex items-center justify-center p-2 text-gray-800 rounded-md hover:text-gray-300 focus:outline-none"
        >
          <svg
            width="20"
            height="20"
            fill="currentColor"
            class="w-8 h-8"
            viewBox="0 0 1792 1792"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div
    class="transition-all duration-1000 md:hidden"
    [ngClass]="displayMenuMobile ? '' : 'hidden'"
  >
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a
        class="block px-3 py-2 text-base font-medium text-gray-300 rounded-md hover:text-gray-800"
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-gray-800"
      >
        Inicio
      </a>
      <a
        class="block px-3 py-2 text-base font-medium text-gray-300 rounded-md hover:text-gray-800"
        routerLink="products"
        routerLinkActive="text-gray-800"
      >
        Productos
      </a>
    </div>
  </div>
</nav>
