<a
  routerLink="/dashboard/add-product"
  class="flex items-center gap-3 px-4 py-2 mb-3 text-white bg-green-500 rounded-lg hover:bg-green-700 w-max"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-plus"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="#ffffff"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <line x1="12" y1="5" x2="12" y2="19" />
    <line x1="5" y1="12" x2="19" y2="12" />
  </svg>
  Añadir Producto
</a>
<table class="table w-full p-4 bg-white rounded-lg shadow">
  <thead>
    <tr>
      <th class="p-4 font-normal text-gray-900 border-b-2 whitespace-nowrap">
        #
      </th>
      <th class="p-4 font-normal text-gray-900 border-b-2 whitespace-nowrap">
        Imagen
      </th>
      <th class="p-4 font-normal text-gray-900 border-b-2 whitespace-nowrap">
        Producto
      </th>
      <th class="p-4 font-normal text-gray-900 border-b-2 whitespace-nowrap">
        Costo
      </th>
      <th class="p-4 font-normal text-gray-900 border-b-2 whitespace-nowrap">
        Oferta
      </th>
      <th class="p-4 font-normal text-gray-900 border-b-2 whitespace-nowrap">
        Tools
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-gray-700" *ngFor="let product of products; let i = index">
      <td class="p-4 border-b-2">{{ i + 1 }}</td>
      <td class="p-4 border-b-2">
        <img class="object-contain w-6 h-6" [src]="product.image" alt="" />
      </td>
      <td class="p-4 border-b-2">
        <p class="line-clamp-1" [title]="product.title">{{ product.title }}</p>
      </td>
      <td class="p-4 border-b-2">
        {{ product.price | currency }}
      </td>
      <td class="p-4 border-b-2">
        {{ product.offer | currency }}
      </td>
      <td class="p-4 border-b-2">
        <button
          (click)="onDeleteProduct(product)"
          class="px-4 py-2 text-white bg-red-500 rounded-lg hover:bg-red-700"
        >
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
