<main class="relative w-full h-screen overflow-hidden bg-gray-100 rounded-2xl">
  <div class="flex items-start justify-between">
    <div
      class="absolute top-0 bottom-0 z-50 h-screen my-4 shadow-lg {{
        showSidebarMobile ? '-ml-0' : '-ml-96'
      }} lg:ml-4 lg:block lg:relative w-80 transition-all"
    >
      <div class="h-full bg-white rounded-2xl">
        <div class="flex items-center justify-center pt-6">
          <img src="assets/img/logo.png" class="h-24" />
        </div>
        <nav class="mt-6">
          <app-sidebar (eventClickLink)="onShowSidebar()"></app-sidebar>
        </nav>
      </div>
    </div>
    <div class="flex flex-col w-full pl-0 md:p-4 md:space-y-4">
      <app-header (eventHamburger)="onShowSidebar()"></app-header>
      <div
        class="w-full h-screen pt-2 pb-24 pl-2 pr-2 overflow-auto md:pt-0 md:pr-0 md:pl-0"
      >
        <div class="flex flex-col flex-wrap w-full py-8">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</main>
